/env
env/

**/dist
**/node_modules

.DS_Store
*.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc
*.tfplan
*.lock.hcl

**/resource

update-integrations.sh

deploy.zip


docker-compose.prod.for.testing.yml

firebase-admin-sdk.json

configure_cors_all_resources.sh